# ignores
.DS_Store
*.db
*.pyc
*.zip
*.tar.gz
*.xlsx
*.csv
Multi-Label Data/
_pycache_/
.ipynb_checkpoints/
database/mongo/*
docs/build/*

openrefine_operations
AllerViz_00*.svg
favicon_package*

# do not ignore
!.gitignore
!.gitkeep
!Portland-Honolulu-San_Diego-Grubhub.csv
