*.db
*.pyc
*.zip
*.tar.gz
*.xlsx
*.csv
openrefine_operations
AllerViz_00*.svg
favicon_package*
_pycache_/
.ipynb_checkpoints/
database/mongo/*
docs/build/*



!.gitignore
!.gitkeep
!Portland-Honolulu-San_Diego-Grubhub.csv