{% extends 'base.html' %}

{% block title %}{{ restaurant.restaurant }} - {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 my-4">
    <!-- <a href="{{ url_for('edit_item', item_id=restaurant._id) }}" class="btn btn-primary">Edit item</a> -->
    <!-- <form class="delete-form" method="POST" action="{{ url_for('delete_item', item_id=restaurant._id) }}">
      {{ deleteItemForm.hidden_tag() }}
      {{ deleteItemForm.submit(class="btn btn-danger", onclick="return confirm('Are you sure you want to delete this item?');") }}
    </form> -->
  </div>
  <div class="col-lg-9">
    <div class="card mt-4">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="card-img-top embed-responsive-item" src="{% if restaurant.image %}{{ url_for('uploads', filename=restaurant.image) }}{% else %}{{ url_for('static', filename='images/allerviz_placeholder.svg') }}{% endif %}">
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ restaurant.restaurant }}</h3>
        <h4>Allergy Score: <span class="badge {% if restaurant.total_allergy_score >= 80 %}badge-success{% elif restaurant.total_allergy_score >= 50 %}badge-warning{% else %}badge-danger{% endif %}">{{ "%.2f" | format(restaurant.total_allergy_score) }}</span></h4>
        <p class="card-text">{{ restaurant['city&State'] | safe }}</p>
        <h4>
            {% for cuis in restaurant.cuisine %}
            <div class="badge badge-info">{{ cuis }}</div>
            {% endfor %}
            <br>
            {% for allergen in restaurant.allergens %}
            <div class="badge badge-warning">{{ allergen }}</div>
            {% endfor %}
        </h4>
      </div>
    </div>

    <style>
        #resto_menu {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #resto_menu td, #resto_menu th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #resto_menu tr:nth-child(even){background-color: #f2f2f2;}

        #resto_menu tr:hover {background-color: #ddd;}

        #resto_menu th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4ca0af;
          color: white;
        }
    </style>

    <table id="resto_menu">
      <thead>
        <tr>
            <th>Menu Item</th>
            <th>Description</th>
            <th>Allergen</th>
            <th>Allergy Score</th>
        </tr>
      </thead>
      <tbody>
      {%- for item in menu%}
        <tr>
          <td>{{ item.item }}</td>
          <td>{{ item.description }}</td>
          <td>{% for allergen in item.allergens %}<div class="badge badge-warning">{{ allergen }}</div>{% endfor %}</td>

          <td class="badge {% if item.allergy_score >= 80 %}badge-success{% elif item.allergy_score >= 50 %}badge-warning{% else %}badge-danger{% endif %}">{{ "%.2f" | format(item.allergy_score) }}</d>
          <!-- {% if item.allergy_score >= 80 %}
              <td style="background-color:rgb(128, 226, 128)">{{ item.allergy_score }}</td>
          {% elif item.allergy_score >= 50 %}
              <td style="background-color:rgb(238, 238, 90)">{{ item.allergy_score }}</td>
          {% else %}
              <td style="background-color:rgb(236, 112, 112)">{{ item.allergy_score }}</td>
          {% endif %} -->
        </tr>
      {%- endfor -%}
      </tbody>
    </table>

    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Restaurant Reviews
      </div>
      <div class="card-body">
        <form class="comment-form" action="{{ url_for('new_comment') }}" method="POST">
          {{ commentForm.hidden_tag() }}
          <div class="form-group">
            {{ commentForm.content.label }}
            {{ commentForm.content(class="form-control", rows="3") }}
          </div>
          {{ commentForm.submit(class="btn btn-primary") }}
          <span class="comment-error"></span>
        </form>
        <hr class="form-border">
        {% if comments %}
        {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <small class="text-muted">Posted by Anonymous</small>
        <hr>
        {% endfor %}
        {% else %}
        <p class="placeholder-comment">Be the first to comment on this item</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for("static", filename="js/comment.js") }}"></script>
{% endblock %}
